AUHTTP/bin/
AUHTTP/gen/
AUHTTP/.settings/
AUHTTP/.project
AUHTTP/.classpath
AUHTTP/local.properties

ExampleAUHTTP/bin/
ExampleAUHTTP/gen/
ExampleAUHTTP/.settings/
ExampleAUHTTP/.project
ExampleAUHTTP/.classpath
ExampleAUHTTP/local.properties

*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store
